<!DOCTYPE html>
<html>
<head>
    <title>Meal Items</title>
    <link rel="stylesheet" type="text/css" href="/meals/resources/foodMeal.css">
</head>
<body>
<h1>Your meals</h1>
<a href="/home" method="get">Home</a>
<form id="foodForm">
    <ul>
        {{#mealsWithFood}}
            <li>

                <input type="radio" name="mealsWithFood" value="{{getId}}">
                <strong>Name:</strong> {{getName}};
                <strong>Measurement:</strong> {{getMeasurement}};
                <strong>Calories:</strong> {{getCalories}};
                <strong>Proteins:</strong> {{getProteins}};
                <strong>Fats:</strong> {{getFats}};
                <strong>Carbohydrates:</strong> {{getCarbohydrates}};
                <strong>Fiber:</strong> {{getFiber}};
                <label for="{{getId}}Amount">Amount:</label>

                <input type="number" name="{{getId}}Amount" id="{{getId}}Amount" min="0" step="0.01" value="{{getAmount}}">
                <input type="button" id="delete-button" onclick="deleteMeal(event)" value="Delete">
            </li>
        {{/mealsWithFood}}
    </ul>
    <input type="button" id="submit-button" onclick="submitMealAmount(event)" value="Submit">
</form>
<script>
    inputElement.addEventListener('input', function() {
      // Get input value
      const inputValue = inputElement.value;

      // Replace period with comma
      const convertedValue = inputValue.replace('.', ',');

      // Set converted value back to input field
      inputElement.value = convertedValue;
    });
    function deleteMeal(event) {
        event.preventDefault();
        var listItem = event.target.parentNode;
        var listItemID = listItem.querySelector('input[type="radio"][name="mealsWithFood"]').value;
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                window.location.replace("/meals");
            }
        };
        xhr.open("POST", "/meals/delete", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        const data = { "id": listItemID};
        xhr.send(JSON.stringify(data));
    };

    function submitMealAmount(event){
        event.preventDefault();
        const selectedRadio = document.querySelector('input[name="mealsWithFood"]:checked');
        if (selectedRadio) {
            const selectedId = selectedRadio.value;
            const selectedAmount = parseFloat(document.getElementById(selectedRadio.value + "Amount").value);
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.replace("/home");
                }
            };
            xhr.open("POST", "/meals", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            const data = { "id": selectedId, "amount": selectedAmount };
            xhr.send(JSON.stringify(data));
        } else {
            console.log("No item selected.");
            return;
        }
    }
</script>
</body>
</html>